// IMPORT UTILITIES
@use "../utilities/colors";
@use "../utilities/breakpoints";

// CARD
.item-card-logo {
  position: absolute;
  bottom: 6rem;
  right: 10rem;
  filter: invert(99%) sepia(36%) saturate(84%) hue-rotate(223deg)
    brightness(116%) contrast(100%);

  img {
    width: 10rem;
  }
}
.item-card {
  position: relative;
  top: 10rem;
  left: 7rem;

  width: 70vw;
  height: 60vh;
  background-color: colors.$grey;

  border-radius: 20px;
  box-shadow: 0 5px 7px 3px #2a337bf4;

  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 2rem 4rem;

  h1 {
    font-size: 2rem;
    letter-spacing: 1.4px;
    color: colors.$black;
    padding-left: 0.5rem;
  }

  form {
    padding: 4.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .radio-row {
      display: flex;
      margin-left: 1rem;
      .radio-input-wrapper {
        margin-bottom: 1rem;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        font-style: italic;
        font-size: 1.3rem;
        letter-spacing: 1.1px;
        font-weight: 300;
      }
      input[type="radio"] {
        appearance: none;
        border: 1px solid colors.$black;
        border-radius: 50%;
        box-shadow: 0 2px 3px 1px #4343435b;

        width: 1.5rem;
        height: 1.5rem;

        display: grid;
        place-content: center;
      }
      input::before {
        content: "";
        width: 1.1rem;
        height: 1.1rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em colors.$black;
        border-radius: 50%;
      }
      input:checked::before {
        transform: scale(1);
      }
      small {
        font-style: normal;
        margin-top: 0.2rem;
        letter-spacing: 0.9px;

        color: colors.$yellow;
      }
    }
    .text-row {
      display: flex;
      gap: 10%;

      .title-input-wrapper {
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        input[type="text"] {
          background-color: transparent;
          box-shadow: 0 2px 3px 1px #4343435b;
          border-radius: 9999px;
          padding: 0.6rem 1.2rem;
          border: 1px solid colors.$black;
          font-weight: 400;
          letter-spacing: 1px;
          font-size: 1.2rem;

          &:focus {
            outline: none;
          }
          &::placeholder {
            font-style: italic;
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1.1rem;
          }
        }
        small {
          margin-left: 1rem;
          margin-top: 0.2rem;
          letter-spacing: 0.9px;

          color: colors.$yellow;
        }
      }

      .amount-input-wrapper {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 10rem;
          background-color: transparent;
          border: 1px solid colors.$black;
          border-radius: 9999px;
          box-shadow: 0 2px 3px 1px #4343435b;
          font-weight: 400;
          letter-spacing: 1px;
          padding: 0.6rem 1.2rem;

          input[type="number"] {
            border: none;
            background-color: transparent;
            width: 100%;
            text-align: end;
            padding-left: 0.5rem;
            font-size: 1.2rem;
            &:focus {
              outline: none;
            }
            &::placeholder {
              font-style: italic;
              font-weight: 300;
              letter-spacing: 1px;
              font-size: 1.1rem;
            }
          }
        }
        small {
          margin-left: 0.1rem;
          margin-top: 0.2rem;
          letter-spacing: 0.9px;

          color: colors.$yellow;
        }
      }
    }
    .btn-row {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
