// IMPORT UTILITIES
@use "../utilities/colors";

// CSS
.create-card {
  position: relative;
  top: 10rem;
  left: 7rem;

  width: 70vw;
  height: 60vh;
  background-color: colors.$grey;

  border-radius: 20px;
  box-shadow: 0 5px 7px 3px #2a337bf4;

  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 2rem 2rem;

  h1 {
    font-size: 1.5rem;
    letter-spacing: 1.4px;
    color: colors.$black;
    padding-left: 0.5rem;
  }

  form {
    padding: 4.5rem 0 2rem 0;
    .radio-container {
      display: flex;
      margin-top: 3rem;

      .radio-btn {
        margin-bottom: 1rem;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        font-style: italic;

        span {
          margin-left: -0.3rem;
        }
      }
    }
  }
}
