// IMPORT UTILITIES
@use "../utilities/colors" as colors;

// CSS
.table-page {
  &__container {
    width: 100vw;
    height: 100vh;
    background-color: colors.$blue;
    color: colors.$white;

    position: relative;

    display: flex;
    flex-direction: column;

    .topline {
      position: absolute;
      right: 2rem;
      top: 2rem;

      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 1.2px;
    }

    .header {
      width: 17rem;

      margin-top: 8rem;
      margin-left: 2rem;

      h2 {
        border-bottom: 2px solid colors.$white;
        padding: 0 0.3rem 0.5rem;

        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.2px;
      }
    }

    .table-list {
      &__container {
        border-radius: 50px 50px 0 0;
        width: 100%;
        height: 60%;

        position: absolute;
        bottom: 0;

        background-color: colors.$white;
        color: colors.$black;

        button {
          position: absolute;
          right: 2.5rem;
          top: 2.5rem;

          width: 5rem;
          height: 5rem;
          font-size: 3rem;
          font-weight: 600;

          color: colors.$yellow;
          background: transparent;
          border: 1.5px solid colors.$yellow;
          border-radius: 50%;
          padding-bottom: 8px;

          cursor: pointer;
        }
        button:hover {
          transition: all 0.15s ease-in-out;
          color: colors.$white;
          background: colors.$yellow;
        }

        .table-list__wrapper {
          margin-top: 7rem;
          display: flex;
          gap: 4rem;
          padding: 0 2.5rem;

          width: 100%;
          height: 70%;

          table {
            width: 22rem;

            thead {
              font-size: 1.2rem;
              letter-spacing: 1.2px;

              th {
                padding-bottom: 0.5rem;
                padding-left: 0.7rem;
              }
            }
            tbody {
              td {
                width: 60%;
              }
              .cell-wrapper {
                width: 90%;

                border-radius: 2.5px;
                border-bottom: 1.5px solid colors.$black;

                padding-left: 0.5rem;
                padding-bottom: 0.2rem;

                font-weight: 400;
                font-size: 1.3rem;
                :hover {
                  // font-weight: 500;
                  transition: all 0.15s ease-in-out;
                  background-color: colors.$grey;
                }
                a {
                  text-decoration: none;
                  color: colors.$black;
                  letter-spacing: 1.1px;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
  }
}

.table-container {
  display: flex;
  flex-direction: column;
}
.table-total {
  margin-top: auto;
  font-size: 1.5rem;
  color: colors.$black;
  letter-spacing: 1.2px;
}
.overview-row {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  width: 80%;
  .asset-box {
    border-radius: 20px;
    padding: 1rem 1.5rem 1rem 2rem;
    box-shadow: 0 5px 5px 2px #2a337bf4;
    position: relative;
    .dollar-sign {
      position: absolute;
      left: 1rem;
      top: 1rem;
      font-size: 1rem;
      font-style: italic;
    }
    span {
      font-size: 1.8rem;
      letter-spacing: 1.3px;
    }
    &:hover {
      transition: all 0.15s ease-in-out;
      transform: scale(1.01);
    }
  }
  .green {
    background-color: colors.$green-dark;
  }
  .red {
    background-color: colors.$red-dark;
  }
  .blue {
    background-color: colors.$blue-light;
  }
  .asset-title {
    text-align: start;
    margin-top: 0.4rem;
    font-weight: 500;
    letter-spacing: 1.4px;
    color: colors.$grey;
  }
}
