// MY THEME COLORS
$blue: #3f51b5;
$blue-light: #5262bc;
$blue-dark: #3043b2;
$yellow: #f5a623;
$yellow-dark: #f29b11;
$black: #464c52;
$white: #ffffff;
$grey: #f8f8f8;
$red-light: #ff3b30;
$red: #c9463f;
$red-dark: #aa3a34;
$red-light: #edb2b9;
$green: #34c759;
$green-dark: #3c9e54;
$green-light: #daf3c0;
