// CALL bootstrap-custom
@use "bootstrap-custom";

// CALL SECTIONS
@use "sections/landing-page";
@use "sections/table-page";
@use "sections/create-page";
@use "sections/edit-page";

// IMPORT UTILITIES
@use "./utilities/colors";
// IMPORT COMPONENTS
@use "./components/buttons";
@use "./components/item-card";

// GLOBAL
body {
  font-family: "Lato";
}

.blue-background {
  background-color: colors.$blue;
  width: 100vw;
  height: 100vh;
}
